<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { useCounterStore } from "@/stores/counter";

const counterStore = useCounterStore();
</script>

<template>
  <v-row>
    <v-col cols="6">
      <FirstComponent />
      <v-btn @click="counterStore.increment" class="ma-4">INCREMENT</v-btn>
    </v-col>
    <v-col cols="6">
      <SecondComponent />
      <v-btn @click="counterStore.decrement" class="ma-4">DECREASE</v-btn>
    </v-col>
  </v-row>
</template>
