<script lang="ts" setup>
import { ref } from "vue";
const num = ref(0);
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          v-model.number="num"
          label="Please input Number"
          :rules="[
            (v) => !!v || 'Number is not Empty!!',
            (v) => v.length > 0 || '',
          ]"
          required
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col col="12" md="1" v-for="(n, index) of num" :key="index">
        {{ n }}
      </v-col>
    </v-row>
  </v-container>
</template>
