<script lang="ts" setup>
import { ref, reactive } from "vue";
//create class Products
class Products {
  id: number;
  name: string;
  price: number;

  constructor(id: number, name: string, price: number) {
    this.id = id;
    this.name = name;
    this.price = price;
  }
}

//prodList
const productList = reactive<Products[]>([]);
//sum
const sum = ref(0);
//add to list
const addProducts = (prod: Products) => {
  productList.push(prod);
  sum.value += prod.price;
};

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container style="height: 500px; overflow: auto">
          <v-row>
            <v-col cols="4" v-for="item of products" :key="item.id">
              <v-card height="150">
                <div align="center" class="text-h5 ma-2">{{ item.name }}</div>
                <div align="center" class="ma-3">{{ item.price }}</div>
                <div align="center" class="ma-3">
                  <v-btn @click="addProducts(item)">ADD</v-btn>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-table style="height: 500px; overflow: auto">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="productList.length == 0">
              <td colspan="3" class="text">NO Data</td>
            </tr>
            <tr v-else v-for="(item, index) of productList" :key="index">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>
        <div class="text-h3">Sum: {{ sum }}</div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.text {
  text-align: center;
  font-weight: 500;
}
</style>
