<script lang="ts" setup>
import { ref } from "vue";

let imgg = ref("feeling_imgs/smile.png");
let emotion = ref("Smile");
const isYellow1 = ref(true);
const isYellow2 = ref(false);
const isYellow3 = ref(false);
const isYellow4 = ref(false);
const isYellow5 = ref(false);
const isYellow6 = ref(false);

let change = (emo: number) => {
  if (emo == 1) {
    emotion.value = "Smile";
    imgg.value = "feeling_imgs/smile.png";
    isYellow1.value = !isYellow1.value;
    isYellow2.value = false;
    isYellow3.value = false;
    isYellow4.value = false;
    isYellow5.value = false;
    isYellow6.value = false;
  } else if (emo == 2) {
    emotion.value = "Shocked";
    imgg.value = "feeling_imgs/shocked.png";
    isYellow2.value = !isYellow2.value;
    isYellow1.value = false;
    isYellow3.value = false;
    isYellow4.value = false;
    isYellow5.value = false;
    isYellow6.value = false;
  } else if (emo == 3) {
    emotion.value = "Pain";
    imgg.value = "feeling_imgs/pain.png";
    isYellow3.value = !isYellow3.value;
    isYellow1.value = false;
    isYellow2.value = false;
    isYellow4.value = false;
    isYellow5.value = false;
    isYellow6.value = false;
  } else if (emo == 4) {
    emotion.value = "Excited";
    imgg.value = "feeling_imgs/excited.png";
    isYellow4.value = !isYellow4.value;
    isYellow1.value = false;
    isYellow2.value = false;
    isYellow3.value = false;
    isYellow5.value = false;
    isYellow6.value = false;
  } else if (emo == 5) {
    emotion.value = "Cute";
    imgg.value = "feeling_imgs/cute.png";
    isYellow5.value = !isYellow5.value;
    isYellow1.value = false;
    isYellow2.value = false;
    isYellow3.value = false;
    isYellow4.value = false;
    isYellow6.value = false;
  } else if (emo == 6) {
    emotion.value = "Angry";
    imgg.value = "feeling_imgs/angry.png";
    isYellow6.value = !isYellow6.value;
    isYellow1.value = false;
    isYellow2.value = false;
    isYellow3.value = false;
    isYellow4.value = false;
    isYellow5.value = false;
  }
};
</script>
<template>
  <v-row>
    <v-col cols="6">
      <div align="center" class="ma-6">
        <v-img width="400" :src="imgg"></v-img>
      </div>
    </v-col>
    <v-col cols="6">
      <div style="text-align: center">
        <h1>{{ emotion }}</h1>
      </div>
      <div align="center">
        <v-btn class="btn" :class="{ bgYellow: isYellow6 }" @click="change(6)"
          >ANGRY</v-btn
        >
      </div>
      <div align="center">
        <v-btn class="btn" :class="{ bgYellow: isYellow5 }" @click="change(5)"
          >CUTE</v-btn
        >
      </div>
      <div align="center">
        <v-btn class="btn" :class="{ bgYellow: isYellow4 }" @click="change(4)"
          >EXCITED</v-btn
        >
      </div>
      <div align="center">
        <v-btn class="btn" :class="{ bgYellow: isYellow3 }" @click="change(3)"
          >PAIN</v-btn
        >
      </div>
      <div align="center">
        <v-btn class="btn" :class="{ bgYellow: isYellow2 }" @click="change(2)"
          >SHOCKED</v-btn
        >
      </div>
      <div align="center">
        <v-btn class="btn" :class="{ bgYellow: isYellow1 }" @click="change(1)"
          >SMILE</v-btn
        >
      </div>
    </v-col>
  </v-row>
</template>

<style scoped>
.btn {
  font-size: 20px;
  margin-top: 20px;
  width: 300px;
}

.bgYellow {
  background-color: yellow;
}
</style>
