<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>

<template>
  <div class="text">First Component</div>
  <div class="text">{{ counterStore.count }}</div>
</template>

<style scoped>
.text {
  font-weight: 500;
}
</style>
