<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <div class="text">Second Component</div>
  <div class="text">{{ counterStore.doubleCount }}</div>
</template>
<style scoped>
.text {
  font-weight: 500;
}
</style>
